# Ignore NPM dependencies
node_modules
storybook-static
.next
out
storybook
debug-storybook.log

# Ignore Mac files
.DS_Store

# Ignore email templates for specific people
templates/email-signature-paul.html
templates/email-signature-pat.html
